#header-box {
    height: 150px;
}
#header-box h1 {
font-family:'Merriweather',serif;
    padding-left: 5%;
    padding-right: 5%;
    color:antiquewhite;
    font-size: 40px;
    padding-top: 3%;
    margin-bottom: 0;
}
#header-box h2 {
    font-family:'Merriweather',serif;
    margin-left: 20%;
    color:antiquewhite;
    font-size: 30px;
    margin-top:0;
    
}
p {
    font-family: 'Open Sans',sans-serif;
}
#header-box {
    margin-top: 0;
    background-color: #0000FF;
    border-radius: 20px;

}
#positive-reviews {
    width:45%;
    float:right;
    margin-right: 3%;
    margin-bottom:20%;
    
}
#calcpen {
    float:left;
    margin-left: 3%;
}

figcaption {
    margin-top: 1%;
    width:45%;
    margin-left: 3%;
    font-family: 'Open Sans',sans-serif;
}

#contact-info li {
    list-style: none;
    display:inline;
    
}
#contact-info {
    font-family: "Open Sans";
    font-weight: 200;
    margin-left: 35%;
}

#positive-reviews {
    float:right;
}